extends layout

block content
  h1 Pagina do administrador
  p Olá #{utilizador.name} chegaste à homepage... 
  ul
    li
      a(href="/users/logout") Logout
    li
      a(href="/") Homepage
    li
      a(href="/users/files") Files
