extends layout_files

block content
    .w3-container.w3-teal
        h2 File Upload
    form.w3-container(action='/users/files' method='POST' enctype='multipart/form-data')
        #1st_File.w3-row.w3-margin-bottom
            .w3-row.w3-margin-bottom
                .w3-col.s3
                    label.w3-text-teal
                        b Description
                .w3-col.s9.w3-border
                    input.w3-input.w3-border.w3-light-grey(type='text' name='desc')
            .w3-row.w3-margin-bottom
                .w3-col.s3
                    label.w3-text-teal
                        b Select file
                .w3-col.s9.w3-border
                    input.w3-input.w3-border.w3-light-grey(type='file' name='myFile')
        #extra_files
        button.w3-btn.w3-blue-grey(type='button' onclick='extraFiles()') +1 File
        input.w3-btn.w3-blue-grey(type='submit' value='Submit')
    footer.w3-container.w3-teal
        address Gerado por galuno::DAW2020 em #{d}