extends layout

block content
  <div class="w3-bar w3-blue w3-large">
  <a href="/users/registar" class="w3-bar-item w3-button" style="float: right";>Registar</a>
  <a href="/users/login" class="w3-bar-item w3-button"  style="float: right";>Login</a>
  </div>

  br
  br
  br
  br
  br
  br
  h1.w3-center Desenvolvimento de Aplicações Web 2020
  br
  br
  h2.w3-center Plataforma de Gestão e Disponibilização de Recursos Educativos