extends layout

block content
  h1 Autenticacao básica NODE js
  p Chegas-te a homepage... 
  p
  ul
    li 
      a(href="/users/login") Login
    li  
      a(href="/users/administrador") Administrador
    li  
      a(href="/users/consumidor") Consumidor
    li  
      a(href="/users/produtor") Produtor

