extends layout

block content

  form.w3-container(action='/users/registar' method='GET')
    input.w3-btn.w3-right.w3-blue(type="submit" value="Registar")

  form.w3-container(action='users/login' method='GET')
    input.w3-btn.w3-right.w3-blue(type="submit" value=" Login") 

  br
  br
  h1.w3-center Desenvolvimento de Aplicações Web 2020

  ul
    li  
      a(href="/users/administrador") Administrador
    li  
      a(href="/users/consumidor") Consumidor
    li  
      a(href="/users/produtor") Produtor

