doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='/jquery.modal.min.css')
    script(src='/jquery-3.5.1.min.js')
    script(src='/imagens.js')
    script(src='/extraFiles.js')
    script(src='/jquery.modal.min.js')
    
  body
    block content