extends layout


block content
    <div>
        form.w3-container(action='/users/logout' method='GET')
            input.w3-btn.w3-right.w3-right.w3-blue-grey(type='submit' value='Logout')
        form.w3-container(action='/users/perfil'  method='GET')
            input.w3-btn.w3-left.w3-left.w3-blue-grey(type='submit' value='Perfil')
    </div>

    #display.w3-card-4.modal
    .w3-container.w3-blue
        h2.w3-center Lista de publicações
    
    each pub in pubs 
        .card
            .w3-row.w3-margin-bottom
                .w3-col.s3
                    label.w3-text-blue
                        b Autor
                .w3-col.s9.w3-border
                    input.w3-input.w3-border.w3-light-grey(type='text' name='author' value=pub.author readonly="readonly")
                .w3-col.s3
                    label.w3-text-blue
                        b Descrição
                .w3-col.s9.w3-border
                    input.w3-input.w3-border.w3-light-grey(type='text' name='description' value=pub.description readonly="readonly")
                .w3-col.s3
                    label.w3-text-blue
                        b Recursos
            each recurso in pub.resources   
                    .w3-col.s3
                        label.w3-text-blue
                        b Titulo
                    .w3-col.s9.w3-border
                        input.w3-input.w3-border.w3-light-grey(type='text' name='title' value=recurso.title readonly="readonly")(onclick='showImage(' + '"' + recurso.id + '"' + ','+ '"' + recurso.title + '"' + ',' + '"' + recurso.type + '"' + ')')
                    .card-block
            .w3-col.s3
                    label.w3-text-blue
                        <br>
                        <br>
