extends layout

block content
  .w3-container.w3-margin.w3-border
    .w3-container.w3-blue
        h3.w3-left Registar utilizador
    
    if errors
      each error in errors
        #{console.log(error.msg)}
        p #{error.msg}
    form.w3-container(action='/users/registar', method='POST')
            | Mail: 
            input.w3-input(type='text', name='mail', value='')
            | Nome: 
            input.w3-input(type='text', name='name', value='')
            | Curso: 
            input.w3-input(type='text', name='course', value='')
            br
            | Atividade: 
            <input list="activitys" name="activity" id="activity">
            <datalist id="activitys">
              <option value="Estudante">
              <option value="Profesor">
            </datalist>
            br
            br
            | Departamento:
            input.w3-input(type='text', name='department', value='')
            | Password: 
            input.w3-input(type="password", name='password_enc', value='')
            | Confirmar Password: 
            input.w3-input(type="password", name='password_enc2', value='')
            input.w3-btn.w3-blue(type='submit', value='Adicionar')
   



