extends layout

block content
    <div>
        <div class="w3-bar w3-blue w3-large">
        <a href="/users/news" class="w3-bar-item w3-button ">Notícias</a> 
        <a href="/mural" class="w3-bar-item w3-button ">Mural</a> 
        <a href="/users/logout" class="w3-bar-item w3-button" style="float: right";>Logout</a>
        <a href="/users/perfil" class="w3-bar-item w3-button" style="float: right";>Perfil</a>
        <a href="javascript:history.back()" class="w3-bar-item w3-button" style="float: right">Página Anterior</a>
    </div>

     
    <div class="w3-container w3-margin-top w3-display-topmiddle" style="top:100px">
        .w3-container.w3-blue
            h2.w3-center Editar publicação
        form.w3-container.w3-card-4(action='/users/pubs/edit/'+pub.id method='POST' enctype='multipart/form-data' style="width:1000px")
            br
            #1st_File.w3-row.w3-margin-bottom
                .w3-row.w3-margin-bottom
                    .w3-col.s3
                        label.w3-text-blue
                            b Descricao da publicação
                    .w3-col.s9.w3-border
                        input.w3-input.w3-border.w3-light-grey(type='text' name='description' value=pub.description)
                .w3-row.w3-margin-bottom
                    .w3-col.s3
                        label.w3-text-blue
                            b Visibilidade
                    .w3-col.s9.w3-border
                        <select class="w3-select"  name="visibility" id="visibility" value=pub.visibility style="display: inline-block;width:100%" required>
                            <option value="Privado"> Privado
                            <option value="Público"> Público
                        </select>
                each recurso in pub.resources
                    .w3-row.w3-margin-bottom
                        .w3-col.s3
                            label.w3-text-blue
                                b Tema
                        .w3-col.s9.w3-border
                            input.w3-input.w3-border.w3-light-grey(type='text' name='theme' value=recurso.theme)
                    .w3-row.w3-margin-bottom
                        .w3-col.s3
                            label.w3-text-blue
                                b Titulo
                        .w3-col.s3.w3-border
                            input.w3-input.w3-border.w3-light-grey(type='text' name='title' value=recurso.title)
                        img(src='/download_icon.png' style="display: inline-block;width:35px;height:35px")(onclick='showFile(' + '"' + recurso.id + '"' + ','+ '"' + recurso.extension + '"' + ','+ '"' +  pub.author + '"' + ',' + '"' + recurso.title + '"' + ')')      
            input.w3-btn.w3-blue-grey(type='submit' value='Confirmar alterações')
    </div>
 
